{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "COUNTRY",
      "L": "CITY",
      "O": "Kubernetes",
      "OU": "CA",
      "ST": "STATE"
    }
  ]
}
