global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen mynginx
    bind 192.168.121.11:80
    server pod1 10.246.82.2:80 check
    server pod2 10.246.82.6:80 check

listen apache
    bind 192.168.121.12:80
    server pod1 10.246.82.10:80 check
    server pod2 10.246.82.9:80 check
